/* Will be compiled down to a single stylesheet with your sass files */
h2 {
  line-height: 50%;
}

td.text-to-right {
  text-align: right;
}

.btn-large {
  font-weight: bold;
  font-family: sans-serif;
}
